import { stackServerApp } from "@/lib/stack";
import { StackMiddleware } from "@stackframe/stack/next";

export const middleware = StackMiddleware(stackServerApp);

export const config = {
  matcher: [
    "/((?!_next/static|_next/image|favicon.ico|public).*)",
  ],
};
